@tailwind base;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .black {
    --background: 240 10% 3.9%;
    --background-foreground: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .vesper {
    --background: 0 0% 6%;
    --background-foreground: 0 0% 8%;
    --foreground: 255 40% 98%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 63%;
    --popover: 0 0% 9%;
    --popover-foreground: 260 60% 99%;
    --card: 0 0% 6%;
    --card-foreground: 260 60% 99%;
    --border: 0 0% 16%;
    --input: 0 0% 11%;
    --primary: 27 100% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 27 30% 20%;
    --secondary-foreground: 27 100% 80%;
    --accent: 0 0% 19%;
    --accent-foreground: 255 40% 98%;
    --destructive: 0 21% 12%;
    --destructive-foreground: 0 100% 75%;
    --ring: 27 100% 80%;
  }

  .mirage {
    --background: 214 41% 16%;
    --background-foreground: 214 41% 18%;
    --foreground: 0 0% 100%;
    --muted: 215 12% 20%;
    --muted-foreground: 213 12% 70%;
    --popover: 216 40% 13%;
    --popover-foreground: 0 0% 100%;
    --card: 213 41% 14%;
    --card-foreground: 0 0% 100%;
    --border: 215 31% 21%;
    --input: 213 31% 24%;
    --primary: 39 100% 71%;
    --primary-foreground: 39 100% 11%;
    --secondary: 38 30% 25%;
    --secondary-foreground: 39 30% 85%;
    --accent: 213 39% 24%;
    --accent-foreground: 213 39% 88%;
    --destructive: 6 82% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 39 100% 71%;
  }

  .marmalade-beaver {
    --background: 233 18% 17%;
    --background-foreground: 233 18% 19%;
    --foreground: 173 24% 93%;
    --muted: 233 12% 23%;
    --muted-foreground: 233 12% 73%;
    --popover: 233 18% 16%;
    --popover-foreground: 0 0% 100%;
    --card: 233 18% 17%;
    --card-foreground: 173 24% 98%;
    --border: 233 8% 24%;
    --input: 233 8% 27%;
    --primary: 44 100% 71%;
    --primary-foreground: 44 100% 11%;
    --secondary: 44 30% 25%;
    --secondary-foreground: 44 30% 85%;
    --accent: 233 18% 34%;
    --accent-foreground: 233 18% 94%;
    --destructive: 10 90% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 44 100% 71%;
  }

  .vue-dark {
    --background: 192 100% 10%;
    --background-foreground: 192 100% 12%;
    --foreground: 0 0% 90%;
    --muted: 192 12% 15%;
    --muted-foreground: 192 12% 65%;
    --popover: 192 100% 7%;
    --popover-foreground: 0 0% 100%;
    --card: 192 100% 8%;
    --card-foreground: 0 0% 95%;
    --border: 192 90% 15%;
    --input: 192 90% 18%;
    --primary: 171 82% 43%;
    --primary-foreground: 171 82% 3%;
    --secondary: 171 30% 25%;
    --secondary-foreground: 171 30% 85%;
    --accent: 192 90% 18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 95% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 171 82% 43%;
  }

  .nuclear-dark {
    --background: 213 30.3% 10.94%;
    --background-foreground: 213 30.3% 12.94%;
    --foreground: 90 40% 98.04%;
    --muted: 218.82 17.89% 18.63%;
    --muted-foreground: 0 0% 82.35%;
    --popover: 213.91 26.44% 17.06%;
    --popover-foreground: 90 40% 98.04%;
    --card: 213.91 26.44% 17.06%;
    --card-foreground: 90 40% 98.04%;
    --border: 213.75 9.2% 22%;
    --input: 213.75 9.2% 22%;
    --primary: 331.18 100% 55.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.91 26.44% 17.06%;
    --secondary-foreground: 90 40% 98.04%;
    --accent: 220.91 39.29% 20.98%;
    --accent-foreground: 90 40% 98.04%;
    --destructive: 344.15 100% 46.54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 331 100% 68%;
  }

  .shades-of-purple {
    --background: 243 33% 23%;
    --background-foreground: 243 33% 25%;
    --foreground: 0 0% 100%;
    --muted: 243 12% 29%;
    --muted-foreground: 243 12% 79%;
    --popover: 243 33% 22%;
    --popover-foreground: 0 0% 100%;
    --card: 243 33% 23%;
    --card-foreground: 0 0% 100%;
    --border: 243 23% 30%;
    --input: 243 23% 33%;
    --primary: 50 100% 49%;
    --primary-foreground: 50 100% 9%;
    --secondary: 50 30% 25%;
    --secondary-foreground: 50 30% 85%;
    --accent: 243 33% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 82% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 50 100% 49%;
  }

  .monokai-pro {
    --background: 285 5% 15%;
    --background-foreground: 285 5% 17%;
    --foreground: 60 25% 98%;
    --muted: 285 12% 21%;
    --muted-foreground: 285 12% 71%;
    --popover: 285 5% 14%;
    --popover-foreground: 0 0% 100%;
    --card: 285 5% 15%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 22%;
    --input: 0 0% 25%;
    --primary: 45 100% 70%;
    --primary-foreground: 45 100% 10%;
    --secondary: 45 30% 25%;
    --secondary-foreground: 45 30% 85%;
    --accent: 285 5% 32%;
    --accent-foreground: 285 5% 92%;
    --destructive: 10 97% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 45 100% 70%;
  }
}
